/*公共布局*/
blockquote,body,button,code,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,pre,span,td,textarea,th,ul{margin:0;padding:0;border: 0}
button,h1,h2,h3,h4,h5,h6,input,select,textarea{font-size:100%;font-weight:400}
ol,ul{list-style:none}
a,img{
    -webkit-touch-callout:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    /*-moz-tap-highlight-color:rgba(0,0,0,0);*/
}
a{text-decoration: none}
img{vertical-align:middle}
.none{display: none}

/*引入自定义字体*/
@font-face {
    font-family: Writing_Font;
    src: url('../assets/font/hanzhen.ttf');
    /* IE9 Compat Modes */ src: url('../assets/font/hanzhen.ttf?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../assets/font/hanzhen.ttf') format('woff'),
    /* Modern Browsers */ url('../assets/font/hanzhen.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../assets/font/hanzhen.ttf') format('svg');
    /* Legacy iOS */
}

/*.NumType{
    font-family: Timing_Font,Arial,sans-serif;
}*/
.WrtType{
    font-family: Writing_Font,Arial,sans-serif;
    color:#fff;
    text-shadow:-0.12rem -0.06rem 0 #881574;
    letter-spacing: 0.25rem;
}

body,html{
    max-width:750px;
    margin: 0 auto;
    width:100%;
    height: 100%;
    overflow: hidden;
    -webkit-user-select:none;
    user-select:none;
    background: #000;
}




